---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moderator
  namespace: moderator-prod
  labels:
    app: moderator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moderator
  template:
    metadata:
      labels:
        app: moderator
    spec:
      containers:
        - name: moderator-web
          image: 783633885093.dkr.ecr.us-west-2.amazonaws.com/moderator:6d854c71e90dc3f3d6872c5c5e50a5490e9b6ee4
          ports:
            - containerPort: 8000
          envFrom:
          - configMapRef:
              name: moderator-prod
          - secretRef:
              name: moderator-prod
