Django==1.5.9

# Django-browserid
django-browserid==0.11

django-uuslug
south
dj-database-url
MySQL-python

# Templates
jingo

# Security
django-sha2
bleach
django-session-csrf

cef==0.3

django-axes
python-memcached
