{% macro user_profile(user) %}
<div class="askedby">
  {% if user %}
  {% set profile = user.userprofile %}
  <a href="https://people.mozilla.org/s/?query={{ profile.username }}&who=staff" target="_blank">
    {% if not profile.avatar_url %}
    <img alt="Unknown profile image" src="{{ static('img/unknown.png') }}" title="{{ profile.username }}"
      data-toggle="tooltip" data-placement="bottom">
    {% else %}
    <img alt="User profile image" src="{{ profile.avatar_url }}" title="{{ profile.username }}" data-toggle="tooltip"
      data-placement="bottom">
    {% endif %}
  </a>
  {% else %}
  <img alt="Unknown profile image" src="{{ static('img/unknown.png') }}" title="anonymous" data-toggle="tooltip"
    data-placement="bottom">
  {% endif %}
</div>
{% endmacro %}

{% macro edit_event_container(event, user) %}
{% if can_moderate_event(event, user) %}
<div>
  <div class="edit-container">
    <a href="{{ url('edit_event', slug=event.slug) }}" class="btn btn-primary btn-sm">edit</a>
    {% if event.is_moderated and event.questions.filter(is_accepted__isnull=True).exists() %}
    <a href="{{ url('moderate_event', slug=event.slug) }}" class="btn btn-primary btn-sm">moderate</a>
    {% endif %}
  </div>
  <div class="delete-container">
    <a href="{{ url('delete_event', slug=event.slug) }}" class="btn btn-danger btn-sm">delete</a>
  </div>
</div>
{% endif %}
<div class="event-date">
  {{ event.event_date|date('F j, Y') }}
</div>
{% endmacro %}