{% macro user_profile(user, is_anonymous=True) %}
<div class="askedby">
  {% if not is_anonymous %}
  <a href="https://people.mozilla.org/s/?query={{ user.userprofile.username }}&who=staff" target="_blank">
    <img alt="User profile image" src="{{ get_profile_image(user, is_anonymous) }}"
      title="{% if is_anonymous %}anonymous{% else %}{{ user.userprofile.username }}{% endif %}" data-toggle="tooltip"
      data-placement="bottom" />
  </a>
  {% else %}
  <img alt="profile image" src="{{ get_profile_image(user, is_anonymous) }}"
    title="{% if is_anonymous %}anonymous{% else %}{{ user.userprofile.username }}{% endif %}" data-toggle="tooltip"
    data-placement="bottom" />
  {% endif %}
</div>
{% endmacro %}

{% macro edit_event_container(event, user) %}
{% if can_moderate_event(event, user) %}
<div>
  <div class="edit-container">
    <a href="{{ url('edit_event', slug=event.slug) }}" class="btn btn-primary btn-sm">edit</a>
    {% if event.is_moderated and event.questions.filter(is_accepted__isnull=True).exists() %}
    <a href="{{ url('moderate_event', slug=event.slug) }}" class="btn btn-primary btn-sm">moderate</a>
    {% endif %}
  </div>
  <div class="delete-container">
    <button class="btn btn-danger btn-sm" aria-label="Delete event" data-toggle="modal" data-target="#DeleteModal"
      id="{{ event.slug }}">delete</button>
  </div>
</div>
{% endif %}
<div class="event-date">
  {{ event.event_date|date('F j, Y') }}
</div>

<!-- Modal for Event Delete -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" id="DeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Event Deletion</h4>
      </div>
      <div class="modal-body">
        Are you certain you want to delete this event?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No!</button>
        <a href="{{ url('delete_event', slug=event.slug) }}" class="btn btn-danger btn-sm">Delete</a>
      </div>

    </div>
  </div>
</div>
{% endmacro %}