{% macro user_profile(user) %}
<div class="askedby">
  {% if user %}
  {% set profile = user.userprofile %}
  <a href="https://people.mozilla.org/s/?query={{ profile.username }}&who=staff" target="_blank">
    {% if not profile.avatar_url %}
    <img alt="Unknown profile image" src="{{ static('img/unknown.png') }}" title="{{ profile.username }}"
      data-toggle="tooltip" data-placement="bottom">
    {% else %}
    <img alt="User profile image" src="{{ profile.avatar_url }}" title="{{ profile.username }}" data-toggle="tooltip"
      data-placement="bottom">
    {% endif %}
  </a>
  {% else %}
  <img alt="Unknown profile image" src="{{ static('img/unknown.png') }}" title="anonymous" data-toggle="tooltip"
    data-placement="bottom">
  {% endif %}
</div>
{% endmacro %}