{% extends "base.jinja" %}
{% from "includes/form_macros.html" import floating, check %}

{% set edit=False %}
{% if slug %}
{% set edit=True %}
{% endif %}

{% block head %}
<title>Mozilla Moderator -
  {% if event %}
  Edit event {{ event.name }}
  {% else %}
  Create an event
  {% endif %}
</title>
{% endblock %}

{% block breadcrumb %}

{% if event_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  Please correct the errors below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block content %}

<h1 class="text-center h3">
  {% if edit %}
  Edit Event
  {% else %}
  Create an Event
  {% endif %}
</h1>
<div class="card">
  <div class="card-body">
    <form method="post" {% if edit %} action="{{ url('edit_event', slug=slug) }}" {% else %}
      action="{{ url('create_event') }}" {% endif %} id="question-form">
      {% csrf_token %}
      {{ floating(event_form.name, "Event title") }}
      {{ floating(event_form.body, "Description",
                  help='<a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown supported.</a>') }}
      {{ floating(event_form.event_date, "Event date") }}
      {% if user_can_edit %}
      {{ check(event_form.users_can_vote, "Allow users to vote on questions") }}
      {{ check(event_form.allow_nda_community,
               'Allow <a target="_blank" href="https://people.mozilla.org/a/nda">NDA Community members</a>',
               help=event_form.allow_nda_community.help_text) }}
      {{ check(event_form.is_moderated, "Moderated event (questions need approval)") }}
      {% if event %}
      {{ check(event_form.archived, "Archive this event") }}
      {% endif %}
      <div class="mb-3">
        <label class="form-label" for="{{ event_form.moderators.id_for_label }}">Moderators</label>
        {{ event_form.moderators }}
      </div>
      {% endif %}
      {{ event_form.non_field_errors() }}
      <div>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
{{ event_form.media }}
{% endblock %}