{% extends "base.jinja" %}
{% from "includes/moderator_macros.html" import edit_event_container %}

{% block head %}
<title>Mozilla Moderator - Events</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="text-center">Select event to view and ask questions.</h3>

{% for event in events.order_by('-created_at') %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="event-listing">
      <a href="{{ url('event', e_slug=event.slug) }}">
        <h1>{{ event.name }}</h1>
        <span class="questions-counter">
          {{ event.questions.filter(is_accepted=True).count() }} questions asked<br>
          {% if event.is_moderated %}
          {{ event.approved_count }} approved,
          {{ event.rejected_count }} rejected,
          {{ event.pending_count }} pending
          {% endif %}
        </span>
      </a>
      <p>{{ event.body|to_markdown }}</p>
    </div>
  </div>
  {{ edit_event_container(event, request.user) }}
</div>
{% endfor %}

{% else %}
<h3 class="text-center">Let your voice be heard.</h3>
<p class="text-center">
  Mozilla Moderator is a panel moderation system for submitting and voting
  on questions.
</p>
<p class="text-center">
  <a class="login btn btn-primary" href="{{ url('oidc_authentication_init') }}">Login</a>
</p>
{% endif %}

{% endblock %}
