{% extends "base.html" %}

{% block head %}
<title>Mozilla Moderator - {{ event.name }}</title>
{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumbs">
  <a href="/">Events</a> >
  <span>{{ event.name }}</span>
</nav>
{% endblock %}

{% block content %}

{% if open %}
  <div class="billboard question">
    <div class="row">
      <form method="post" action="{{ url('event', e_slug=event.slug) }}">
        {{ q_form.non_field_errors()|safe }}
        <div class="selfimage">
          {% if not user.userprofile.avatar_url %}
            <img alt="" src="/static/img/unknown.png" />
          {% else %}
            <img alt="" src="{{ user.userprofile.avatar_url }}" />
          {% endif %}
        </div>
        {{ csrf() }}
        <div class="question_text" id="question-input">
          {{ q_form.question.errors|safe }}
          {{ q_form.question|safe }}
        </div>
        <div class="vote_container">
          <input type="submit" class="button" value="submit">
        </div>
      </form>
    </div>
  </div>
{% endif %}

{% for q in questions %}
  <div class="billboard question">
    <div class="row">
      {% if q.addressed %}
        <div class="ribbon-wrapper-green"><div class="ribbon-green">answered</div></div>
      {% endif %}
      <div class="askedby">
        <a href="https://mozillians.org/u/{{ q.asked_by.userprofile.username }}" target="_blank">
          {% if q.asked_by.userprofile.avatar_url == "" %}
            <img alt="" src="/static/img/unknown.png">
          {% else %}
            <img alt="" src="{{ q.asked_by.userprofile.avatar_url }}">
          {% endif %}
        </a>
      </div>
      <div class="question_text">
        <h3>{{ q.question }}</h3>
      </div>
      <div class="vote_container">
        <span class="vote_count" >{{ q.vote_count }}</span>
        {% if open %}
          {% if user_voted(q, user) %}
            <span class="button vote insensitive" id="{{ q.id }}">unsupport</span>
          {% else %}
            <span class="button vote" id="{{ q.id }}">support</span>
          {% endif %}
        {% endif %}
    </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
