.persona-button-container {
    float: right;
    margin-top: 10px;
}

.persona-button span {
    color: white;
}

.main-logo {
    margin-top: 1%;
}

#main-feature h2 {
    margin: 30px;
}

.event_listing {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.event_listing h1 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    float: left;
}

.questions_counter {
    float: right;
    color: #999;
    margin-top: 5px;
}

.question {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.askedby {
    display:inline-block;
    width: 10%;
    vertical-align: top;
}

.askedby img {
    border-radius: 100%;
    position: absolute;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
    width: 70px;
    height: 70px;
}

.selfimage {
    display:inline-block;
    width: 5%;
    vertical-align: top;
}

.selfimage img {
    border-radius: 100%;
    position: absolute;
    border: 3px solid #FFF;
    box-shadow: 0px 0px 1px rgba(0, 2, 2, 0.2);
    width: 35px;
    height: 35px;
}

.question_text {
    display:inline-block;
    width: 75%;
    vertical-align: top;
}

.question_text input {
    margin-top: 10px;
    width: 100%;
    border: none;
    font-size: 1rem;
    box-shadow: 0px 0px 0px 2px rgba(200, 173, 227, 0.4);
}

.vote_container {
    float:right;
    display:inline-block;
    width: 12%;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

.vote_count {
    font-style: bold;
    font-size: 2rem;
}

.button:hover {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset, 0px 12px 24px 2px #38A9ED inset;
    color: #FFF;
    text-decoration: none;
    transition: all 0.25s linear 0s;
    cursor: pointer;
}

.button {
    display: inline-block;
    border-radius: 0.25em;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    background-color: #277AC1;
    background-repeat: repeat-x;
    background-image: linear-gradient(#43A6E2, #277AC1);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.1;
    text-decoration: none;
    min-width: 80px;
    border: 0px none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans',sans-serif;
    transition: all 0.25s linear 0s;
 }

 .button:active, .button:link:active, .button:visited:active, .button.active, .button.active:link, .button.active:visited {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 12px 24px 6px rgba(0, 0, 0, 0.2) inset, 0px 0px 2px 2px rgba(0, 0, 0, 0.2) inset;
    color: #FFF;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}

.button.insensitive, .button.insensitive:link, .button.insensitive:visited, .button.insensitive:hover, .button.insensitive:link:hover, .button.insensitive:visited:hover, .button.insensitive:focus, .button.insensitive:link:focus, .button.insensitive:visited:focus {
    background-color: #9CA3AA;
    background-repeat: repeat-x;
    background-image: linear-gradient(#BFC7CD, #9CA3AA);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    color: #EEE;
}

.alert-box {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.error {
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-color: rgb(238, 211, 215);
}

.warning {
    color: rgb(192, 152, 83);
    background-color: rgb(252, 248, 227);
    border-color: rgb(251, 238, 213);
}

.success {
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
}

.info {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
}

.alert-box .close {
    font-size: 1.7em;
    padding: 10px 4px;
    line-height: 0;
    float: right;
    color: #333333;
    opacity: 0.3;
}

.alert-box .close:hover, .alert-box .close:focus {
    opacity: 0.5;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .selfimage {
        display: none;
    }

    .question_text {
        display: block;
        width: 95%;
    }

    .question_text input {
        width: 100%;
        margin-top: 30px;
    }

    .vote_container {
        display: block;
        width: 95%;
    }

    .askedby {
        display: block;
        width: 100%;
        text-align: center;
    }

    .askedby img {
        width: 50px;
        height: 50px;
        position: relative;
    }

    .vote_count {
        display: block;
    }
}

/* Ribbon rules */

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 12px 'Open Sans';
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
