/* Fonts
==================== */
@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-Regular.eot");
    src: url("/static/fonts/OpenSans-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/static/fonts/OpenSans-Regular.woff") format("woff"),
        url("/static/fonts/OpenSans-Regular.ttf") format("truetype"),
        url("/static/fonts/OpenSans-Regular.svg#open_sans") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-Bold.eot");
    src: url("/static/fonts/OpenSans-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/static/fonts/OpenSans-Bold.woff") format("woff"),
        url("/static/fonts/OpenSans-Bold.ttf") format("truetype"),
        url("/static/fonts/OpenSans-Bold.svg#open_sansbold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-BoldItalic.eot");
    src: url("/static/fonts/OpenSans-BoldItalic.eot?#iefix")
            format("embedded-opentype"),
        url("/static/fonts/OpenSans-BoldItalic.woff") format("woff"),
        url("/static/fonts/OpenSans-BoldItalic.ttf") format("truetype"),
        url("/static/fonts/OpenSans-BoldItalic.svg#open_sansbold_italic")
            format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-Italic.eot");
    src: url("/static/fonts/OpenSans-Italic.eot?#iefix")
            format("embedded-opentype"),
        url("/static/fonts/OpenSans-Italic.woff") format("woff"),
        url("/static/fonts/OpenSans-Italic.ttf") format("truetype"),
        url("/static/fonts/OpenSans-Italic.svg#open_sansitalic") format("svg");
    font-weight: normal;
    font-style: italic;
}

/* General
==================== */

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #666;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

h3 {
    margin-bottom: 20px;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -190px;
}

#wrapper:after {
    content: "";
    display: block;
    height: 190px;
}

.main-logo {
    max-height: 60px;
    margin-top: -5px;
}

#tabzilla:before {
    background-color: #0c99d5;
}

#logout {
    padding: 15px;
}

.navbar-default {
    background-color: transparent;
    min-height: 70px;
    border: none;
}

#navbar {
    margin-top: 15px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

ul.errorlist {
    list-style: none;
    list-style-position: outside;
    color: #a94442;
    padding: 5px 0 0 0;
}

/* Events
==================== */

.panel-default {
    margin-bottom: 30px;
    position: relative;
}

.event-listing {
    cursor: pointer;
    display: block;
    padding: 20px;
}

.event-listing h1 {
    font-size: 1.6em;
    padding: 0;
    margin: -15px 0 0 0;
}

.event-listing p {
    margin-top: 20px;
}

.questions-counter {
    float: right;
    color: #999;
    margin-top: -10px;
}

.askedby {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.askedby img {
    border-radius: 100%;
    position: relative;
    border: 5px solid #fff;
    box-shadow: 0 0 2px rgba(0, 2, 2, 0.2);
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.selfimage {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin-top: -5px;
}

.selfimage img {
    border-radius: 100%;
    position: absolute;
    border: 3px solid #fff;
    box-shadow: 0 0 1px rgba(0, 2, 2, 0.2);
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.question-text {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}

.question-text :is(input, textarea) {
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 0 0 2px rgba(200, 173, 227, 0.4);
}

.checkbox-anonymous {
    margin-left: calc(10% + 4px);
    float: left;
}

.checkbox-nda {
    margin-right: calc(5% + 4px);
}

.checkbox-anonymous label {
    font-weight: normal;
}

.vote-container {
    display: inline-block;
    width: 12%;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin-top: -15px;
    margin-left: 15px;
}

.edit-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin-top: -15px;
    margin-left: 25px;
}

.moderation-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.delete-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: -15px;
}

.contact-info-container {
    vertical-align: top;
    margin-left: 10%;
}

.contact-info-container :is(input, ul) {
    width: 50%;
    margin: auto;
}

.ask-container {
    align-items: center;
    justify-content: space-between;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.ask-container input {
    font-size: 1em;
}

.vote-count {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.accept-container,
.reject-container {
    display: inline-block;
}

.info {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
}

.vote-container .button {
    margin-top: 3px;
}

.reply-row {
    margin-right: 60px;
    float: right;
}

#moderation-button {
    padding: 5px 10px;
    font-size: 12px;
}
@media only screen and (max-width: 1200px) {
    .reply-button {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 992px) {
    .question-text {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .selfimage {
        display: none;
    }

    .question-text {
        display: block;
        width: 95%;
    }

    .question-text input {
        width: 100%;
        margin-top: 30px;
    }

    .questions-counter {
        margin-top: 5px;
    }

    .checkbox-anonymous {
        margin-left: 0;
        float: none;
    }

    .vote-container {
        display: block;
        width: 95%;
    }

    .askedby {
        display: block;
        width: 100%;
        text-align: center;
    }

    .askedby img {
        width: 50px;
        height: 50px;
        position: relative;
    }

    .ask-container {
        padding-left: 0;
    }

    .vote-count {
        display: block;
        margin-right: 0;
    }

    .reply-row {
        margin-top: 0;
    }
}

/* Ribbon
==================== */

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon {
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    padding: 5px 0;
    right: -2px;
    top: 10px;
    width: 120px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: green;
    font-size: 0.7em;
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-top: 3px solid #ccc;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}
.ribbon::after {
    right: 0;
}

/* Footer
==================== */

.site-footer {
    height: 190px;
    color: #a6a7a9;
    background-color: #4d4f53;
    padding: 40px 0;
    font-size: 0.9em;
    line-height: 1.3;
    width: 100%;
    margin: 0;
}

.site-footer .container {
    margin: auto;
}

.site-footer .icons {
    margin-bottom: 20px;
    text-align: center;
}

.site-footer .icon-container {
    display: inline-block;
    margin: 0 1.125rem;
    min-width: 120px;
    font-size: 1.1em;
}

.footer-icon {
    max-width: 18px;
    opacity: 0.5;
    margin-right: 5px;
}

.site-footer a {
    color: #a6a7a9;
    font-weight: normal;
}

.site-footer a:hover {
    color: #ccc;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    max-width: 55rem;
    margin: 0 auto;
}

.footer-content a.logo {
    color: white;
    display: inline-block;
    border-right: 0.0625rem solid #666;
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 0;
    padding-top: 0;
}

.footer-content p {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    width: calc(100% - 10.375rem);
}

@media only screen and (max-width: 768px) {
    .site-footer,
    #wrapper:after {
        height: 490px;
    }

    #wrapper {
        margin-bottom: -490px;
    }

    .site-footer .icon-container {
        min-width: 100px;
        margin: 0;
        display: block;
    }

    .site-footer .icon-container .icon {
        margin-bottom: 20px;
    }

    .site-footer .icon-container img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .footer-content {
        display: block;
        text-align: center;
    }

    .footer-content a.logo {
        border-right: none;
        border-bottom: 0.0625rem solid #666;
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        padding-right: 0;
        margin-right: 0;
    }

    .footer-content p {
        text-align: center;
        width: 100%;
    }
}
